/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
/* Title banner section */
.title-banner{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}
.title span{
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title .btn-style{
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-style:hover{
    transform: scale(1.1);
}
.btn-style i{
    margin-left: 4px;
}
/* About me section */
.details-box{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 80vh;
    background-color: #e9faff88;
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}
.half-width{
    width: 40%;
}
.half-width .description{
    width: 100%;
}
.half-width img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.half-width h2{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.half-width .myname{
    margin: 20px 0;
    font-size: 30px;
}
.half-width p{
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.half-width .about-list li{
    margin: 25px 15px;
    font-size: 13px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
.half-width .btn-style{
    border: none;
    border-radius: 4px;
    background-color: #51e576cf;
    color: #fff;
    font-size: 16px;
    padding: 15px 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
/* Contact section */
#contact{
    background-color: #48535530;
}
#contact .profile {
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
.half-width .meeting-text{
    font-size: 16px;
    margin: 20px 40px 20px 0;
}
form input{
    border: none;
    border-radius: 4px;
    width: 80%;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #c3c7c7;
    font-size: 16px;
}
#contact .half-width button{
    margin-top: 30px;
    background-color: #a5a8a8;
}
/* Service section */
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-text h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 30px 0;
}
.service-text p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-box .service-single-box{
    width: 250px;
    /* height: 250px; */
    margin: 80px 40px;
}
.service-box .service-single-box img{
    /* width: 100%; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.service-box .service-single-box h2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
#services button{
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    padding: 10px 30px;
    margin-bottom: 80px ;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
/* Philosophy section */
#philosophy{
    display: flex;
    flex-direction: column;
}
.philosophy-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48535530;
}
.philosophy-image{
    width: 50%;
}
.philosophy-image img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.philosophy-image .philosophy-image2{
    width: 100%;
    margin: 0;
    padding: 0;
}
.philosophy-text{
    width: 50%;
    text-align: center;
}
.philosophy-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 20px 0;
}
.philosophy-text p{
    font-size: 14px;
    color: #222;
    margin: 0 40px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}
.philosophy-text button{
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    padding: 10px 30px;
    margin: 80px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
/* title-text section */
#title-text{
    height: 300px;
    background-color: #e9faff88;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title-text h1{
    font-size: 50px;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* footer section */
footer{
    background-color: #48535530;
}
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-box .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-box a{
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.navbar-box a li i{
    margin-left: 6px;
}
footer p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/* Responsive section */
@media (max-width:799px) {
    .title-banner {
        height: 70vh;
    }
    .title h1 {
        font-size: 40px;
    }
    .title .btn-style {
        padding: 10px 25px;
    }
    .details-box {
        padding: 50px 0;
    }
    .half-width h2 {
        font-size: 20px;
    }
    .half-width .myname {
        margin: 12px 0;
        font-size: 25px;
    }
    .half-width img {
        width: 90%;
    }
    .half-width p {
        font-size: 10px;
    }
    .half-width .about-list li {
        margin: 10px 10px;
        font-size: 10px;
    }
    .half-width .btn-style {
        font-size: 14px;
        padding: 10px 30px;
    }
    .half-width .meeting-text {
        font-size: 11px;
        margin: 12px 40px 12px 0;
    }
    form input {
        padding: 12px;
        margin-bottom: 7px;
        font-size: 12px;
    }
    #contact .half-width button {
        margin-top: 15px;
    }
    .service-text h2 {
        font-size: 30px;
        margin: 20px 0;
    }
    .service-text p {
        font-size: 12px;
    }
    .service-box .service-single-box img {
        width: 200px;
        height: 200px;
    }
    .service-box .service-single-box {
        margin: 25px 0px;
        text-align: center;
    }
    #services button {
        font-size: 12px;
        padding: 10px 25px;
        margin-bottom: 40px;
    }
    .philosophy-text h2 {
        font-size: 25px;
        margin: 5px 0;
    }
    .philosophy-text p {
        font-size: 10px;
        margin: 0 30px;
    }
    .philosophy-text button {
        font-size: 14px;
        padding: 10px 25px;
        margin: 10px 0;
    }
    #title-text {
        height: 200px;
    }
    #title-text h1 {
        font-size: 40px;
    }
    .navbar-box .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-box a {
        font-size: 10px;
        margin: 2px 0;
    }
    footer p {
        font-size: 12px;
    }
}


@media(max-width: 477px){
    .title h1 {
        font-size: 24px;
    }
    .title .btn-style {
        padding: 6px 17px;
        font-size: 11px;
    }
    .details-box {
        flex-direction: column;
        height: auto;
        padding: 25px 0;
    }
    .half-width img {
        width: 100%;
    }
    .half-width {
        width: 100%;
    }
    .half-width .profile{
        display: flex;
        justify-content: center;
    }
    .half-width .description {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .half-width h2 {
        font-size: 21px;
        text-align: center;
    }
    .half-width .myname {
        margin: 10px 0;
        font-size: 25px;
    }
    .half-width p {
        font-size: 10px;
        margin-right: 20px;
    }
    .half-width .btn-style {
        margin-top: 20px;
    }
    #contact h2{
        margin-right: 20px;
    }
    form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form input {
        width: 80%;
        margin-right: 20px;
    }
    #contact .half-width button {
        margin: 15px 0;
    }
    .service-box .service-single-box img {
        width: 150px;
        height: 150px;
    }
    .service-text h2 {
        font-size: 26px;
        margin: 15px 0;
    }
    .service-text p {
        font-size: 10px;
    }
    .service-box {
        flex-direction: column;
    }
    .service-box .service-single-box h2 {
        margin-top: 0;
        font-size: 18px;
    }
    .service-box .service-single-box {
        margin: 15px 0px;
    }
    #services button {
        font-size: 10px;
        padding: 5px 15px;
        margin-bottom: 25px;
    }
    .philosophy-box {
        flex-direction: column;
    }
    .philosophy-image {
        width: 100%;
    }
    .philosophy-text {
        width: 95%;
    }
    .philosophy-image img {
        padding-left: 0;
        padding-top: 0;
    }
    .philosophy-text h2 {
        font-size: 20px;
    }
    .philosophy-text p {
        font-size: 10px;
        margin: 0;
    }
    .philosophy-text button {
        font-size: 12px;
        padding: 7px 15px;
    }
    #title-text h1 {
        font-size: 25px;
    }
    #title-text {
        height: 150px;
    }
    .logo-box img {
        width: 150px;
    }
    .footer-box {
        flex-direction: column;
    }
    .navbar-box .navbar {
        margin-bottom: 20px;
    }
    footer p {
        font-size: 10px;
    }
    .navbar-box a {
        margin: 2px 0;
    }
}